/* Estilos gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f1e3;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #d35400;
    padding: 15px;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

/* Seção principal */
.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #f39c12;
    color: white;
}

/* Produtos */
.produtos {
    padding: 20px;
}

.produtos h2 {
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.galeria img {
    width: 250px;
    border-radius: 10px;
}

/* Seção Sobre */
#sobre {
    padding: 20px;
    background-color: #ffeaa7;
}

/* Seção Contato */
#contato {
    padding: 20px;
    text-align: center;
    background-color: #fab1a0;
}
#produtos {
    text-align: center;
    padding: 40px 20px;
}

#produtos h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.produtos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.produto {
    width: 220px;
}

.produto img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    transition: 0.3s;
}

.produto img:hover {
    transform: scale(1.05);
}